<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.psl.bean.Employee" id ="emp" autowire="byType" scope="singleton" lazy-init = "true" init-method ="myMethodABC" destroy-method="myMehodXYZ">
	<!-- 	<constructor-arg name = "employeeId" value = "007"/>
		<constructor-arg name = "employeeName" value = "James Bond"/>
	 	<constructor-arg name = "addr" ref = "addr"/>	-->
	 	
	 	<property name = "employeeId" value = "111"/>
		<property name = "employeeName" value = "aish"/>
		<!-- <property name = "addr" ref = "addr"/> -->
	</bean>
	
	<bean class ="com.psl.bean.Address" id = "addr" primary = "true" lazy-init = "true">
	<!--	<constructor-arg name ="city" value="Jabalpur"/>		
		<constructor-arg name ="street" value="Parsodi"/>		
		<constructor-arg name ="landmark" value="Persistent"/> 
	-->	
		<property name = "city" value = "Jabalpur"/>
		<property name = "street" value = "FC Road"/>
		<property name = "landmark" value = "Bajirao Gadern"/>
		
	</bean>
	
	<bean class ="com.psl.bean.Address" id = "addr1">
	<!--	<constructor-arg name ="city" value="Nagpur"/>		
		<constructor-arg name ="street" value="Parsodi"/>		
		<constructor-arg name ="landmark" value="Persistent"/> 	
	-->
	<property name = "city" value = "Pune"/>
	<property name = "street" value = "FC Road"/>
	<property name = "landmark" value = "Bajirao Gadern"/>
	</bean>
</beans>

